
<div class="productList">
  <% products.forEach(function(product){ %>
  <div class="productItem">
    <a href="/product/description/<%= product._id %>">
      <img src="<%= product.image[0] %>" />
    </a>
    <a href="/product/description/<%= product._id %>">
      <h4><%= product.product_name %></h4>
    </a>
    <span class="retailPrice">$ <%= product.retail_price %></span>
    <span class="discountedPrice">$ <%= product.discounted_price %></span>
 
    <div rel="tooltip" title="Please Login to continue !" class="wrap poptooltip">
      <div class="overlap"></div>
    <button type="submit" class="btnBuyNow" onclick="alert('Wokr')" 
     <% if(!isLoggedIn){ %>
      disabled
      <% } %>
      >
      Buy Now
    </button>
    </div>
    
  </div>
  <% }) %>
</div>
